<a href="https://colab.research.google.com/github/Dushanthimadhushika3/FP-Growth-Algorithm/blob/main/FP_Growth_Algorithm(Association).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip install pyspark

Collecting pyspark
  Downloading https://files.pythonhosted.org/packages/89/db/e18cfd78e408de957821ec5ca56de1250645b05f8523d169803d8df35a64/pyspark-3.1.2.tar.gz (212.4MB)
     |████████████████████████████████| 212.4MB 62kB/s
Collecting py4j==0.10.9
  Downloading https://files.pythonhosted.org/packages/9e/b6/6a4fb90cd235dc8e265a6a2067f2a2c99f0d91787f06aca4bcf7c23f3f80/py4j-0.10.9-py2.py3-none-any.whl (198kB)
     |████████████████████████████████| 204kB 21.3MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.1.2-py2.py3-none-any.whl size=212880768 sha256=7404de37e3494a2c880b931301ae3333dea7b3b329c18686596334e5669bae60
  Stored in directory: /root/.cache/pip/wheels/40/1b/2c/30f43be2627857ab80062bef1527c0128f7b4070b6b2d02139
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9 pyspark-3.1.2

In [2]:
import pandas as pd
import glob

from pyspark.sql import SparkSession

# Import the FPGrowth API from PySpark
from pyspark.ml.fpm import FPGrowth
from pyspark.sql import SQLContext

spark = SparkSession.builder.master("local").appName("Colab")\
        .config('spark.ui.port', '4050').getOrCreate()

In [3]:
csv = glob.glob('/content/drive/MyDrive/L4S1/Big Data/Data/Datasets'+'/*.csv')

df = pd.DataFrame()
# Read the data from the dataset
for f in csv:
  file = pd.read_csv(f)
  df = df.append(file)

In [4]:
df.head()

                event_time  ...                          user_session
0  2020-01-01 00:00:00 UTC  ...  4adb70bb-edbd-4981-b60f-a05bfd32683a
1  2020-01-01 00:00:09 UTC  ...  c8c5205d-be43-4f1d-aa56-4828b8151c8a
2  2020-01-01 00:00:19 UTC  ...  46a5010f-bd69-4fbe-a00d-bb17aa7b46f3
3  2020-01-01 00:00:24 UTC  ...  546f6af3-a517-4752-a98b-80c4c5860711
4  2020-01-01 00:00:25 UTC  ...  cff70ddf-529e-4b0c-a4fc-f43a749c0acb

[5 rows x 9 columns]

In [5]:
sc = df[['user_session','brand','user_id','event_type']]
sc = sc.loc[sc['event_type']=='purchase']
sc = sc[['user_session','brand']]
sc = sc.dropna()
print(sc.shape)
sc.head()

sc.to_csv('/content/purchase.csv')

(737314, 2)

In [6]:
session_id_col_name = 'user_session'
product_id_col_name = 'brand'
session_id_col_index = -1
product_id_col_index = -1
data = dict()

with open('/content/purchase.csv') as f:
    lis = [line.rstrip().split(',') for line in f]        
    for i, x in enumerate(lis):              
        if i == 0:
            if type(x) is list and session_id_col_name in x and product_id_col_name in x: # column names
                session_id_col_index = x.index(session_id_col_name)
                product_id_col_index = x.index(product_id_col_name)
            else:
                print('Required columns does not exists in given csv file')
                break
        else:
            if x[session_id_col_index] in data:
                data[x[session_id_col_index]] = data[x[session_id_col_index]] + ',' + x[product_id_col_index]
            else:
                data[x[session_id_col_index]] = x[product_id_col_index]


# Create the pandas DataFrame
dataframe = pd.DataFrame(list(data.items()),columns=[session_id_col_name,product_id_col_name])
dataframe.head()
print(dataframe.shape)

(137908, 2)

In [7]:
# Preprocess the data
records = []
for i in range(0,137908):
  record = []
  for j in range(1,2):
    val = dataframe.values[i, j].split(",")
    for k in val:
      if k not in record:
        record.append(k)
  records.append([i, record])

print(record)
# Create the pandas DataFrame
out = pd.DataFrame(records, columns = ['id', 'items'])
out.head()

['ingarden']

   id                                              items
0   0                                             [kiss]
1   1                                              [cnd]
2   2    [refectocil, cosmoprofi, zinger, runail, irisk]
3   3  [roubloff, depilflax, irisk, domix, grattol, m...
4   4                                          [concept]

In [8]:
# Convert the pandas dataframe into spark dataframe
sqlContext = SQLContext(spark)
sf = spark.createDataFrame(out,["id", "items"])
sf.show()

+---+--------------------+
| id|               items|
+---+--------------------+
|  0|              [kiss]|
|  1|               [cnd]|
|  2|[refectocil, cosm...|
|  3|[roubloff, depilf...|
|  4|           [concept]|
|  5|             [estel]|
|  6|[runail, irisk, l...|
|  7|            [runail]|
|  8|[ingarden, irisk,...|
|  9|[irisk, runail, b...|
| 10|[runail, concept,...|
| 11|             [irisk]|
| 12|[dartnails, ylloz...|
| 13|[bluesky, grattol...|
| 14|[konad, irisk, it...|
| 15|[grattol, bpw.sty...|
| 16|[irisk, grattol, ...|
| 17|[irisk, runail, n...|
| 18|             [estel]|
| 19|[severina, cosmop...|
+---+--------------------+
only showing top 20 rows

In [9]:
# Create fpGrowth object by instantiating the FPGrowth constructor with the necessary parameters
fpGrowth = FPGrowth(itemsCol="items", minSupport=0.01, minConfidence=0.01)

# Fit the dataframe into the fpGrowth object to get the model prepared
model = fpGrowth.fit(sf)
# Display the frequently occuring items
model.freqItemsets.show()

+--------------------+-----+
|               items| freq|
+--------------------+-----+
|           [staleks]| 4155|
|    [staleks, irisk]| 1552|
|   [staleks, runail]| 1704|
|             [f.o.x]| 2763|
|          [solomeya]| 1798|
|           [bluesky]| 5559|
|    [bluesky, irisk]| 2160|
|[bluesky, irisk, ...| 1445|
|   [bluesky, runail]| 2841|
|             [domix]|10006|
|    [domix, grattol]| 1785|
|   [domix, ingarden]| 1612|
|      [domix, irisk]| 4336|
|[domix, irisk, ru...| 2737|
|     [domix, runail]| 4868|
|           [levrana]| 1580|
|            [uskusi]| 2351|
|           [lianail]| 3591|
|   [lianail, runail]| 1607|
|          [severina]| 7807|
+--------------------+-----+
only showing top 20 rows

In [10]:
# Display the generated association rules
model.associationRules.show()

+-------------------+-----------+-------------------+------------------+--------------------+
|         antecedent| consequent|         confidence|              lift|             support|
+-------------------+-----------+-------------------+------------------+--------------------+
| [severina, runail]|    [irisk]| 0.5723214285714285| 2.102608119010831|0.018592104881515213|
|             [pole]|    [irisk]| 0.4037460978147763| 1.483292046924188|0.014067349247324303|
|             [pole]|   [runail]| 0.5023933402705515|1.5267868566965164| 0.01750442323868086|
|         [nagaraku]|    [irisk]|  0.498050139275766|1.8297484843956082|0.012965165182585493|
|         [nagaraku]|   [runail]| 0.3896935933147632| 1.184289298284501|0.010144444122168403|
|      [milv, irisk]|   [runail]| 0.6210562414266118|1.8874066009092572|0.013131943034486759|
|           [zinger]|    [irisk]|0.41102542130819764|1.5100349992479867|0.020868985120515125|
|           [zinger]|   [runail]|0.46329620108540415| 1.407969600460255|0.023522928329030947|
|           [lovely]|    [irisk]| 0.4197686645636172|1.5421561349203294|0.014473417060649129|
|           [lovely]|   [runail]| 0.4241850683491062|1.2891098174461433|0.014625692490645938|
|[ingarden, grattol]|    [irisk]|0.45550957061562336|1.6734619282982415|0.012769382486875308|
|[ingarden, grattol]|   [runail]| 0.5607863424728401| 1.704244758979802| 0.01572062534443252|
|           [de.lux]|[bpw.style]| 0.4721669980119284| 4.989319313602714|0.013777300809235142|
|           [de.lux]|    [irisk]| 0.4955268389662028|1.8204783235161994| 0.01445891463874467|
|           [de.lux]|   [runail]| 0.5897117296222664|1.7921497875393357| 0.01720712358963947|
|              [uno]|  [grattol]| 0.2722522208674447|1.7858523247425595|0.022667285436667923|
|              [uno]|[bpw.style]|0.15859606340358823| 1.675861306555976| 0.01320445514400905|
|              [uno]| [ingarden]|0.17305347500435464| 1.644646036172596|0.014408156162079067|
|              [uno]|    [irisk]|0.33957498693607385|1.2475386887521998|0.028272471502740957|
|              [uno]|   [masura]| 0.1268942692910643|1.1695338427716429|0.010565014357397685|
+-------------------+-----------+-------------------+------------------+--------------------+
only showing top 20 rows

In [11]:
# Predicts what the customer is most likely to buy with the items bought in the dataset
model.transform(sf).show(20)

+---+--------------------+--------------------+
| id|               items|          prediction|
+---+--------------------+--------------------+
|  0|              [kiss]|                  []|
|  1|               [cnd]|                  []|
|  2|[refectocil, cosm...|[staleks, bluesky...|
|  3|[roubloff, depilf...|[runail, severina...|
|  4|           [concept]|                  []|
|  5|             [estel]|[irisk, runail, k...|
|  6|[runail, irisk, l...|[staleks, bluesky...|
|  7|            [runail]|[staleks, bluesky...|
|  8|[ingarden, irisk,...|[grattol, bpw.sty...|
|  9|[irisk, runail, b...|[staleks, domix, ...|
| 10|[runail, concept,...|[estel, irisk, st...|
| 11|             [irisk]|[staleks, bluesky...|
| 12|[dartnails, ylloz...|[staleks, bluesky...|
| 13|[bluesky, grattol...|[irisk, runail, d...|
| 14|[konad, irisk, it...|[staleks, bluesky...|
| 15|[grattol, bpw.sty...|[runail, irisk, d...|
| 16|[irisk, grattol, ...|[domix, severina,...|
| 17|[irisk, runail, n...|[staleks, bluesky...|
| 18|             [estel]|[irisk, runail, k...|
| 19|[severina, cosmop...|[irisk, runail, g...|
+---+--------------------+--------------------+
only showing top 20 rows